# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

# Ignore everything

# Except for these 
!/.git
!/.gitignore
!/.gitattributes
!Assets/Scripts/**/*.cs
!Assets/UI Toolkit/**/*.uxml
!Assets/UI Toolkit/**/*.uss





/Assets
