# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

# Ignore everything
*

# Except for these 
!/.gitignore
!/.gitattributes
!/Assets/
!/Assets/Scripts/
!/Assets/Scripts/**/*.cs
!/Assets/Scripts/UI/*.cs
!/Assets/UI Toolkit/**/*.uxml
!/Assets/UI Toolkit/**/*.uss




